<header class="header">
    <div class="header-container container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow">           
            <a class="navbar-brand header-logo" href="/">
                <img class="d-inline-block align-top" src="./img/logo-3.png" width="30" height="30" alt="" loading="lazy">
                <span>Oneperfectmeal</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <div class="navbar-container">
                    <ul class="navbar-nav header-navbar">
                        
                        {{#if loggedIn}}
                        <li class="nav-item">
                            <a class="nav-link" href="meals-package">Meal Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard">My account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="meals-package">Meal Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        {{/if}}
                        
                    </ul>
                </div>
                <form class="form-inline form-search my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit my-2 my-sm-0"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </nav>
    </div>
</header>
