<section id="hero">
    
    <div class="hero-container banner-container {{#if data.hero.[3].button}}hero-large{{/if}}">
        <img class="hero-img" src={{data.hero.[3].img}} alt={{data.hero.[3].imgAlt}}>
        <div class="text-container banner-text-container">
            <h1 class="hero-text">{{data.hero.[3].text}}</h1>
            {{#if button}}
                <button type="button" class="btn btn-dark btn-lg hero-btn">VIEW PACKAGES</button>
                <button type="button" class="btn btn-outline-primary btn-lg hero-btn">BUILD YOUR ORDER</button>
            {{/if}}
        </div>
    </div>
</section>

