<section id="hero">
    
    <div class="hero-container banner-container {{#if button}}hero-large{{/if}}{{#ifSame page "dashboard"}}hero-dashboard{{/ifSame}}">
        <img class="hero-img" src={{img}} alt={{imgAlt}}>
        <div class="text-container banner-text-container">
            {{#ifSame page "afterSignup"}}
            <h1 class="hero-text hero-text-welcome">Welcome to Oneperfectmeal!</h1>
            {{else}}
            <h1 class="hero-text">{{text}}</h1>
            {{/ifSame}}
            
            {{#if button}}
                <button type="button" class="btn btn-dark btn-lg hero-btn">VIEW PACKAGES</button>
                <button type="button" class="btn btn-outline-primary btn-lg hero-btn">BUILD YOUR ORDER</button>
            {{/if}}
        </div>
    </div>
</section>

