{{!-- hero section for dashboard page --}}
{{> hero data.hero.[4]}}

{{!-- <h1 class="hero-text">Welcome to Oneperfectmeal, {{username}}!</h1> --}}
<div class="dashboard-text-box">
    <p class="dashboard-p">Your registration is complete.</p>
    <p class="dashboard-p">Now you are all set to place your first order!</p>
</div>
