{{!-- Hero section for meals packages --}}
{{> hero data.hero.[1]}}
{{!-- banner --}}
    <h2 class="mealPackage-banner-text"><span>Discover</span> the perfect meal prepared <span>for you</span> by a professional chef today.</h2>
{{!-- Meal packages item list --}}
<section id="meal-packages-list">
    <div class="items-container">
        <div class="items row">
            {{> item-list }}
        </div>
    </div>
</section>